
body, h1, h2, ul, li, p, button {
    margin: 0;
    padding: 0;
    list-style: none;
}
html{
    height: 100%;
}
.para-header {
    font-size:18px;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('images/b.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}
main {
    flex-grow: 1; 
  }
p img{
    height: 20rem;
    width: 20rem;
}
video{
    height: 20rem;
    width: 40rem;
    object-fit:cover;
}
.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}
nav, .navbar{
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}
#navbar{
    display: block;
}
.btn{
    display: none;
    margin-right: 1rem;
}
.navbar {
    height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
}

nav {
    text-align: center;
    display: flex;
    align-items: center;
  }
  
  nav .logo {
    height: 7rem;
    margin-right: 10px;
  }
  
  nav h1 {
    flex: 1;
    font-size: 3rem;
  }
  
  nav p {
    text-align: center;
    margin-top: -5px; 
    color: #fff;
  }

#round-list {
    display: flex;
    font-weight: 600;
}

#round-list li {
    padding-right: 2rem;
    margin: auto;
    font-size: 25px;
}

#round-list a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

#round-list a:hover {
    color: #0cbeeb;
}

.txtCenter{
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.quiz-container {
    width: 100%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.question-container {
    margin-bottom: 20px;
}
#question-text {
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
}

#show-ans-btn {
    background-color: #3498db;
    font-size: 20px;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#show-ans-btn:hover {
    background-color: #2980b9;
}

#next-question-btn {
    background-color: #27ae60;
    font-size: 20px;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: none;
}

#next-question-btn:hover {
    background-color: #219651;
}

.hidden {
    display: none;
}
.answer-container {
    margin-top: 10px;
}

#answer-text {
  text-align: center;
  color: green;
  font-weight: 900;
  font-size: 3rem;
}
.button-container{
    display: flex;
    justify-content: space-between;
}
.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: black;
    border-radius: 5px;
    padding: 5px 0;
    width: 160px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    max-height: 200px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.dropdown-content a {
    display: block;
    padding: 8px 10px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
}

.dropdown-content a:hover {
    background-color: #2c3e50;
}

.open-menu{
    display: none;
}




@media only screen and (max-width: 1440px) {
    nav {
      
      text-align: center;
      /* padding: 10px; */
      height:5rem;
    }
    nav .logo{
        height: 4rem;
    }
    nav h1{
        font-size:2rem;
    }
    .logo {
        margin-right: 0px;
      margin-bottom: 0px; /* Add spacing between logo and text */
    }
  
    h1 {
      font-size: 20px;
    }
  
    p {
      font-size: 14px;
    }
    p img{
        height: 15rem;
    }
    .para-header{
        font-size: 18px;
    }
    #question-text{
        font-size: 3rem;
        font-weight: 600;
    }
    #round-list a{
        font-weight:600;
    }
    #round-list li {
        margin: auto;
    font-size: 16px;
    padding-right: 1rem;
    }
    
    .dropdown-content{
        max-height: 150px;
    }
    .questionPara{
        font-size: 25px;
    }
  }
@media only screen and (max-width: 920px) {
    .container{
        display: none;
    }
    #question-text{
        font-size:2rem;
    }
    .quiz-container{
        padding:5px;
    }
    .open-menu{
        display:block;
    }
    .menu-style{
        width:100%;
        display:flex;
        flex-direction:row-reverse
    }
    .btn{
        display: block;
        background-color: transparent;
        border: none;
    }
    #navbar {
        height: 30vh;
        display: none;
    }
    #round-list{
        flex-direction: column;
    }
    #round-list li{
        margin-bottom: 10px;
    }
    #answer-text {
        font-size: 2rem;
    }
    
}
@media only screen and (max-width: 680px) {
    video{
        width:30rem;
    }
}
@media only screen and (max-width:500px){
    video{
        width: 20rem;
    }
}
@media only screen and (max-width: 340px){
    video{
        width: 15rem;
    }
}